<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавить вакансию</title>
</head>
<body>
    <a href="{{ url_for('index') }}">Домашняя страница</a>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
     <ul>
         {% for message in messages %}
         <li>{{ message }}</li>
         {% endfor %}
     </ul>
    {% endif %}
    {% endwith %}
    <form action="{{ url_for('add_vacancy') }}" method="post">
        {{ add_vacancy_form.position(placeholder_="Должность") }}<br>
        {{ add_vacancy_form.min_salary(placeholder_="Минимальная зарплата") }}<br>
        {{ add_vacancy_form.max_salary(placeholder_="Максимальная зарплата") }}<br>
        {{ add_vacancy_form.submit() }}<br>
    </form>
    {% if vacancies %}
    <table>
        <thead>
            <tr>
                <th>Должность</th>
                <th>Минимальная зарплата</th>
                <th>Максимальная зарплата</th>
            </tr>
        </thead>
        <tbody>
            {% for vacancy in vacancies %}
                <tr>
                    <td>{{ vacancy.position_vacancy }}</td>
                    <td>{{ vacancy.min_salary }}</td>
                    <td>{{ vacancy.max_salary }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% elif not vacancies %}
    <p>Оставьте свою первую вакансию!</p>
    {% endif %}
</body>
</html>