<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавить резюме</title>
</head>
<body>
    <a href="{{ url_for('index') }}">Домашняя страница</a>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
     <ul>
         {% for message in messages %}
         <li>{{ message }}</li>
         {% endfor %}
     </ul>
    {% endif %}
    {% endwith %}
    <form action="{{ url_for('add_summary') }}" method="post">
        {{ add_summary_form.position(placeholder_="Должность") }}<br>
        {{ add_summary_form.min_salary(placeholder_="Минимальная зарплата") }}<br>
        {{ add_summary_form.max_salary(placeholder_="Максимальная зарплата") }}<br>
        {{ add_summary_form.submit() }}<br>
    </form>
    {% if summaries %}
    <table>
        <thead>
            <th>Должность</th>
            <th>Минимальная зарплата</th>
            <th>Максимальная зарплата</th>
        </thead>
        <tbody>
            {% for summary in summaries %}
                <tr>
                    <td>{{ summary.position_summary }}</td>
                    <td>{{ summary.min_salary }}</td>
                    <td>{{ summary.max_salary }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% elif not summaries %}
    <p>Вы ещё не составили ни одного резюме</p>
    {% endif %}
</body>
</html>