<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Домашняя страница</title>
</head>
<body>
    <div class="cap-links">
        {% if not current_user.is_authenticated %}
        <a href="{{ url_for('login') }}">Авторизируйтесь</a>
        {% endif %}
        <a href="{{ url_for('register_applicant') }}">Зарегистрируйтесь, как соискатель</a>
        <a href="{{ url_for('register_firm') }}">Зарегистрируйтесь, как фирма</a>
        {% if current_user.is_authenticated %}
        <a href="{{ url_for('logout') }}">Выйти из системы</a>
        {% if session['role'] == 2 %}
        <a href="{{ url_for('add_summary') }}">Составить резюме</a>
        <a href="{{ url_for('vacancies') }}">Список вакансий</a>
        {% endif %}
        {% if session['role'] == 1 %}
        <a href="{{ url_for('add_vacancy') }}">Оставить вакансию</a>
        <a href="{{ url_for('summaries') }}">Список резюме</a>
        {% endif %}
        {% endif %}
    </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
     <ul>
         {% for message in messages %}
         <li>{{ message }}</li>
         {% endfor %}
     </ul>
    {% endif %}
    {% endwith %}
    <p>Биба</p>
</body>
</html>