<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
     <ul>
         {% for message in messages %}
         <li>{{ message }}</li>
         {% endfor %}
     </ul>
    {% endif %}
    {% endwith %}
    <form action="{{ url_for('login') }}" method="post">
        {{ login_form.login(placeholder_="Логин") }}<br>
        {{ login_form.password(placeholder_="Пароль") }}<br>
        {{ login_form.submit() }}
    </form>
</body>
</html>