<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация соискателя</title>
</head>
<body>
    <form action="{{ url_for('register_applicant') }}" method="post">
        {{ register_form.login(placeholder_="Логин") }}<br>
        {{ register_form.password(placeholder_="Пароль") }}<br>
        {{ register_form.fio(placeholder_="ФИО") }}<br>
        {{ register_form.age(placeholder_="Возраст") }}<br>
        {{ register_form.submit() }}
    </form>
</body>
</html>