<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация фирмы</title>
</head>
<body>
    <form action="{{ url_for('register_firm') }}" method="post">
        {{ register_form.login(placeholder_="Логин") }}<br>
        {{ register_form.password(placeholder_="Пароль") }}<br>
        {{ register_form.name(placeholder_="Название фирмы") }}<br>
        {{ register_form.submit() }}
    </form>
</body>
</html>