<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Резюме</title>
</head>
<body>
    <a href="{{ url_for('index') }}">Главная страница</a>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
     <ul>
         {% for message in messages %}
         <li>{{ message }}</li>
         {% endfor %}
     </ul>
    {% endif %}
    {% endwith %}
    {% if all_summaries %}
    <table>
        <thead>
            <tr>
                <th>ФИО соискателя</th>
                <th>Должность вакансии</th>
                <th>Минимальная зарплата</th>
                <th>Максимальная зарплата</th>
                <th>Откликнуться</th>
            </tr>
        </thead>
        <tbody>
            {% for summary in all_summaries %}
                <tr>
                    <td>{{ summary.Applicant.fio_of_applicant }}</td>
                    <td>{{ summary.Summary.position_summary }}</td>
                    <td>{{ summary.Summary.min_salary }}</td>
                    <td>{{ summary.Summary.max_salary }}</td>
                    <td>
                        <form action="{{ url_for('summaries') }}" method="post">
                            {{ execute_summary_form.id_summary(value=summary.Summary.id_of_summary) }}
                            {{ execute_summary_form.submit() }}
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% elif not all_summaries %}
    <p>Ещё нет резюме, на которые можно откликнуться</p>
    {% endif %}
</body>
</html>