<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вакансии</title>
</head>
<body>
    <a href="{{ url_for('index') }}">Главная страница</a>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
     <ul>
         {% for message in messages %}
         <li>{{ message }}</li>
         {% endfor %}
     </ul>
    {% endif %}
    {% endwith %}
    {% if all_vacancies %}
    <table>
        <thead>
            <tr>
                <th>Название фирмы</th>
                <th>Должность вакансии</th>
                <th>Минимальная зарплата</th>
                <th>Максимальная зарплата</th>
                <th>Откликнуться</th>
            </tr>
        </thead>
        <tbody>
            {% for vacancy in all_vacancies %}
                <tr>
                    <td>{{ vacancy.Firm.name_of_firm }}</td>
                    <td>{{ vacancy.Vacancy.position_vacancy }}</td>
                    <td>{{ vacancy.Vacancy.min_salary }}</td>
                    <td>{{ vacancy.Vacancy.max_salary }}</td>
                    <td>
                        <form action="{{ url_for('vacancies') }}" method="post">
                            {{ execute_vacancies_form.id_vacancy(value=vacancy.Vacancy.id_of_vacancy) }}
                            {{ execute_vacancies_form.submit() }}
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% elif not all_vacancies %}
    <p>Ещё нет вакансий, на которые можно откликнуться</p>
    {% endif %}
</body>
</html>